@page "/parents/view/{parentId:int}"
@using Pschool.Model;
@inject NavigationManager NavigationManager
@inject Pschool.Service.ParentService parentService

<h3>View Parent</h3>

<div>
    <p><strong>First Name:</strong> @parent.FirstName</p>
    <p><strong>Last Name:</strong>@parent.LastName</p>
    <p><strong>Email:</strong> @parent.Email</p>
</div>

<div class="mt-3">
    <button @onclick="GoBack" class="btn btn-primary">Back</button>
</div>

@code {
    private ParentModel parent = new ParentModel();

    [Parameter]
    public int ParentId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        parent = await parentService.GetParentById(ParentId);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/parents");
    }
}
